body {
	background: rgb(64,150,238);
	background: -moz-radial-gradient(center, ellipse cover,  rgb(64,150,238) 0%, rgb(2,65,226) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(64,150,238)), color-stop(100%,rgb(2,65,226)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgb(64,150,238) 0%,rgb(2,65,226) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgb(64,150,238) 0%,rgb(2,65,226) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgb(64,150,238) 0%,rgb(2,65,226) 100%);
	background: radial-gradient(ellipse at center,  rgb(64,150,238) 0%,rgb(2,65,226) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#0241e2',GradientType=1 );
}

h1 {
	font-size: 52px;
	margin: 120px 0 60px 0;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto 40px auto;
}

p {
	margin-bottom: 30px;
	font-size: 15px;
}

p:last-child {
	margin-bottom: 120px;
}